:root {
  --fs-small: 1.1rem;
  --fs-medium: 1.8rem;
  --fs-large: 2.6rem;
}
.fs__small {
  font-size: var(--fs-small);
}
.fs__medium {
  font-size: var(--fs-medium);
}
.fs__large {
  font-size: var(--fs-large);
}

.folio__section {
  margin-top: 4.3rem;
}
.folio__text {
  width: 40%;
  margin: auto;
}

.image__container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5rem;
  gap: 1.5rem;
  place-items: center;
}
.folio__images img {
  height: 20rem;
  width: 25rem;
}

@media (max-width: 800px) {
  .image__container {
    display: grid;
    gap: 0;
    /* grid-template-columns: none; */
  }

  .folio__images img {
    height: 18rem;
    width: 50rem;
  }

  .folio__text {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .image__container {
    display: grid;
    gap: .5rem;
    grid-template-columns: none;
  }

  .folio__images img {
    height: 15rem;
    width: 20rem;
  }

  .folio__text {
    width: 90%;
    
  }
}
